@model Solr.Models.ArtigoView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row borda fundo" style="display:block; margin-left:15px; margin-right:15px;">
    <div class="col-md-2">
        @using (Html.BeginForm("Pesquisar", "Home", FormMethod.Post, htmlAttributes: new { @style = "display:inline-block" }))
        {

            @Html.AntiForgeryToken()
            <div style="margin:5px;">@Html.TextBox("busca", null, new { @class = "form-control" })</div>
            <div style="margin:5px;">@Html.DropDownList("CoreId")</div>
            <div style="margin:5px;"><input type="submit" value="Pesquisar" class="btn btn-sm btn-primary" /></div>
        }
    </div>
    <div class="col-md-2">
        <p>Precision: </p>
        @if (Model.ArtigosRelevantes != null)
        {
            foreach (KeyValuePair<string, int> item in Model.ArtigosRelevantes)
            {
                double result = (double)item.Value / (double)Model.Artigos.Count;
                <p style="padding:0px; margin:0px;">@item.Key: @item.Value/@Model.Artigos.Count = @result.ToString("0.000")</p>
            }
        }

    </div>

    <div class="col-md-2">
        <p>Recall: </p>
        @if (Model.ArtigosRelevantes != null)
        {
            foreach (KeyValuePair<string, int> item in Model.ArtigosRelevantes)
            {
                double result = (double)item.Value / (double)10;
                <p style="padding:0px; margin:0px;">@item.Key: @item.Value/10 = @result.ToString("0.000")</p>
            }
        }

    </div>
    <div class="col-md-2">
        <p>Medida-F: 2*((p*r)/(p+r)) </p>
        @if (Model.ArtigosRelevantes != null)
        {
            foreach (KeyValuePair<string, int> item in Model.ArtigosRelevantes)
            {
                double p = (double)item.Value / (double)Model.Artigos.Count;

                double r = (double)item.Value / (double)10;
                double mf = 2 * ((p * r) / (p + r));
                <p style="padding:0px; margin:0px;">@item.Key: @mf.ToString("0.000")</p>
            }
        }
    </div>
    <div class="col-md-4">
        <p>Tempo da pesquisa: @Model.QueryTime.ToString()</p>
    </div>
</div>
<div class="borda fundo" style="display:block; margin-left:15px; margin-right:15px; margin-top:15px;">
    @Html.Partial("~/Views/Home/_PartialAba.cshtml", Model)
</div>

    @section styles
{
        <link href="@Url.Content("~/Content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet" />
    }

    @section ScriptPage
{
        <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
        <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
        <script type="text/javascript">
            $(document).ready(function () { $('.table').dataTable(); });
        </script>
        <script>
            $('#tabela').dataTable({
                "searching": false,
                "lengthChange": false
            });


            var table = $('#tabela').DataTable();
            table.page.len(5).draw();
        </script>
        <script type="text/javascript">
            function exibirModal() {
                $('#myModal').modal('show');
            }

            function removerModal() {
                $('#myModal').modal('hide');
            }
        </script>
    }
