@model Solr.Models.ArtigoView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-2">
    <div style="height:80px; padding-top:50px;"> Categorias </div>
    @foreach (KeyValuePair<string,int> item in Model.ItemQuantidade)
    {
        <div style="border-top: 1px solid lightgrey; padding:2px;">
            @Html.ActionLink(item.Key + " (" + item.Value + ")", "PesquisarPorCluster" , new { key = item.Key }) 
        </div>
    }
</div>



<div class="col-md-10">
    @using (Html.BeginForm("Pesquisar", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-inline border">
            @Html.TextBox("busca", null, new { @class = "form-control" })
            <input type="submit" value="Pesquisar" class="btn btn-sm btn-primary" />

        </div>

    }
    <table id="tabela" class="table table-striped">
        <thead>
            <tr>
                <!--<th> @Html.DisplayNameFor(model => model.Artigos[0].NomeSumario) </th> -->
                <th> @Html.DisplayNameFor(model => model.Artigos[0].Sumario) </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Artigos)
            {
            <tr>
                <!--<td>@Html.DisplayFor(modelItem => item.NomeSumario)</td>-->
                <td>@Html.DisplayFor(modelItem => item.SumarioLimitado)</td>
            </tr>
                }
            </tbody>
        </table>
    </div>

    @section styles
    {
        <link href="@Url.Content("~/Content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet" />
    }

    @section ScriptPage
    {
        <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
        <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
        <script type="text/javascript">
            $(document).ready(function () { $('.table').dataTable(); });
        </script>
        <script>
            $('#tabela').dataTable({
                "searching": false,
                "lengthChange": false
            });


            var table = $('#tabela').DataTable();
            table.page.len(5).draw();
        </script>
    }
